* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --iris: #4d5ae5;
    --navyblue: #2e2f42;
    --black: black;
    --ocean: #404bbf;
    --white: #ffffff;
    --slate: #434455;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --green: #31d0aa;
    --lightslate: #8e8f99;
    --navybluemodal: #2e2f42;
    --grey: #2e2f42;
    --dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}


/* page header */

header {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    padding: 24px 0;
}

.logo {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.17em;
    letter-spacing: 0.54px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo span {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.54px;
}

.nav-menu {
    display: inline-flex;
    gap: 76px;
}

.nav-list-link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.32px;
    display: flex;
    color: var(--navyblue);
    gap: 40px;
}

.address-list-link {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    font-style: normal;
}

.nav-list-item .nav-list-link,
.address-list-item .address-list-link,
.logo {
    list-style: none;
    text-decoration: none;
    color: var(--navyblue);
}

.nav-list-item {
    display: inline-block;
    margin-right: 40px;
}

.address-list-item {
    display: inline-block;
    margin-right: 40px;
}

.main-header-menu {
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
    display: flex;
}

.main-header-container {
    width: 1128px;
    padding: 0px 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.nav-list-item .nav-list-link:hover,
.nav-list-item .nav-list-link:focus {
    color: var(--ocean);
}

.address-list-item .address-list-link:hover,
.address-list-item .address-list-link:focus {
    color: var(--ocean);
}

.container {
    width: 1158px;
    margin: 0 auto;
}

.section-container {
    padding: 120px 0px;
}


/* main content */

.section-main-header {
    background: var(--navyblue);
    text-align: center;
}

.section-main-header-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 1.12px;
    padding-top: 188px;
    padding-bottom: 48px;
    width: 496px;
    margin-right: auto;
    margin-left: auto;
}

.section-main-header-cta {
    padding: 16px 32px;
    border-radius: 4px;
    background: var(--iris);
    color: var(--white);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-family: inherit;
    outline: none;
    border: unset;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    margin-bottom: 188px;
}

.section-main-header-cta:hover,
.section-main-header-cta:focus {
    background-color: var(--ocean);
}

.section-title-header {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-bottom: 72px;
}

.features-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.features-list-item-title {
    color: var(--navyblue);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    width: 264px;
}

.features-list-item-description {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
}

.features-list-images {
    list-style: none;
}

.apps-list {
    list-style-type: none;
    display: flex;
    gap: 24px
}

.team {
    background: var(--cloud);
    padding: 120px 0px;
}

.team-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.team-list-items {
        background: var(--white);
}

.team-list-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 32px 0px 8px;
}

.team-list-description {
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-bottom: 32px;
}

/* page footer */

.section-footer {
    background: var(--navyblue);
    flex-shrink: 0;
    padding-top: 101.5px;
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    padding-top: 17.5px;
    padding-bottom: 100px;
}

.section-footer .logo {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.54px;
}

/* portfolio page */

.portfolio-buttons-cta {
    list-style: none;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.64px;
    font-family: inherit;
    outline: none;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    padding: 12px 24px;
    cursor: pointer;
}

.portfolio-buttons-items .portfolio-buttons-cta:hover,
.portfolio-buttons-items .portfolio-buttons-cta:focus {
    background-color: var(--ocean);
    color: var(--white);
    border: 1px solid var(--ocean);
}

.portfolio-images-title {
    color: var(--navyblue);
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    padding: 32px 16px 0px;
}

.portfolio-images-description {
    color: var(--slate);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 8px 16px 32px;
}

.portfolio-buttons-list {
    list-style: none;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.portfolio-images-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

}

.portfolio-images-items {
    width: calc((100% - 48px) / 3);
    border: 1px solid var(--cornflower);
    background: var(--white);
    margin-bottom: 48px;
}

.portfolio-container {
    padding-bottom: 120px;
}